@model Blog.Models.Post

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <hr />
        <h6>@String.Format("{0:d MMMM yyyy}", Model.CreationDate)</h6>
        <p class="well">@Html.DisplayFor(model => model.Description)</p>
        <hr>
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="label label-default">@tag.Name</span>
            }
        </div>
        <hr />
        <p>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }, new { @class = "btn btn-warning" })
        </p>
    </div>
</div>

