@model Blog.Models.Tag

@{
    ViewBag.Title = @Html.DisplayNameFor(model => model.Name);
}

<div class="row">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />

    @foreach (var post in Model.Posts)
            {
        <div class="post col-md-4 well">
            <h3>@post.Title</h3>
            <h6>@String.Format("{0:d MMMM yyyy}", post.CreationDate)</h6>
            <p>@post.Description</p>
            @Html.ActionLink("Czytaj Dalej..", "singlePost", "Home", new { id = post.PostID }, new { @class = "btn btn-default" })
        </div>

    }
</div>>