@model Blog.Models.Post

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

    <div class="row">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <div class="col-md-8 ">
            <p class="lead">@Html.DisplayFor(model => model.Description)</p>

            <hr>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {

                <span class="label label-default">@tag.Name</span>

                }
            </div>

        </div>
        <div class="col-md-4">
            <div class="well">
                <dl class="dl-horizontal">
                    <label>Category</label>
                    <p>@Html.DisplayFor(model => model.Category.Name)</p>
                </dl>

                <dl class="dl-horizontal">
                    <label>Created at:</label>
                    <p>@Html.DisplayFor(model => model.CreationDate)</p>
                </dl>
                <hr>
                
        </div>
    </div>
        </div>

