@model Blog.Models.Post

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <hr />
        <h6>@String.Format("{0:d MMMM yyyy}", Model.CreationDate)</h6>
        <p class="well">
            @Html.DisplayFor(model => model.Description)
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <span class="label label-default">@tag.Name</span>
                }
            </div>
        </p>
        <hr>

        <div id="disqus_thread"></div>
        <script>
            (function () {
                var d = document, s = d.createElement('script');
                s.src = '//blog-drqftb8h7e.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">
                comments powered by Disqus.
            </a>
        </noscript>
    </div>
</div>
